<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :event_title %>
  </div>

  <div class="form-group">
    <%= form.label :event_from_date %>
    <%= form.date_select :event_from_date, id: :event_event_from_date %>
  </div>
  
  <div class="form-group">
    <%= form.label :event_to_date %>
    <%= form.date_select :event_to_date, id: :event_event_to_date %>
  </div>
  
  <div class="field">
    <%= form.label :event_time%>
    <%= form.date_select :event_time, id: :event_event_time %>
  </div>

  <div class="field">
    <%= form.label :event_place %>
    <%= form.text_field :event_place, id: :event_event_place %>
  </div>

  <div class="field">
    <%= form.label :event_style %> ロゴを選べるようにする。
    <%= form.text_field :event_style, id: :event_event_style %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :event_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
