<p id="notice"><%= notice %></p>

<h1>展覧会を探す</h1>

<%= form_with(scope: :search, url: events_path, method: :get, local: true) do |f| %>
<div class="container">
  
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="search-form">
        <div class="row">
          <div class="col-md-4">
            <div class="search-field">
              <%= f.label "開催日を指定する" %>
              <%= f.date_field :from_date, value: @search_params[:from_date] %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="search-field">
              <%= f.label "開催場所を指定する" %>
              <%= f.select :prefecture, [["---選択してください---",""],["大阪府","大阪府"],["東京都","東京都"]] %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="search-field">
              <%= f.label "流派を指定する" %>
              <%= f.collection_select :style_id, Style.all, :id, :name %>
            </div>
          </div>
        <div class="actions">
          <div class="col-md-offset-3 col-md-6">
            <%= f.submit "この条件で検索する", class: "btn btn-lg btn-primary btn-block"%>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
<% end %>
      <div class="search_result_number">
        <div class="row">
          <div class="col-md-offset-4 col-md-4">
           <h4><%= @events_counts %>件該当しました</h4>
          </div>
        </div>
      </div>
  
  

<!--<div class="container">-->
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="row">
          <% @events.each do |event| %>
            <div class="col-md-6 search_result">
              <div class="card shadow-sm">
                <div class="col-md-4">
                  <%= image_tag 'home/image4.jpg', class: "exhibition-image img-fluid mx-auto", alt: "展覧会画像" %>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h4 class="card-title">展覧会名称：<%= event.name %></h4>
                      <p class="card-text">
                        開始日：<%= event.from_date %><br>
                        終了日：<%= event.to_date %><br>
                        都道府県：<%= event.prefecture %><br>
                        流派：<%= image_tag event.style.image.url %><br>
                        <%= link_to '詳しくはこちら', event_path(id: event.id) %>
                        </p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>



<br>

<% if current_user&.admin? %>
  <%= link_to '新規展覧会の登録', admins_eventnew_path %><br>
  <%= link_to '管理者用イベント一覧へ', admins_eventsindex_path %>
<% end %>
<%= paginate @events %>