<div class="post-index-wrapper">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="post-index-single">
            <h2 class="post-author">
              <%= post.user.name %>
            </h2>
        <%= image_tag post.image.url %>
          <% if !post.favorite_users.include?(current_user) %>
            <%= link_to favorites_path(post_id: post.id), method: :post do %>
              <i class="far fa-heart like-btn"></i>
            <% end %>
          <% else %>
            <%= link_to favorites_path(post_id: post.id), method: :delete do %>
            <i class="far fa-heart unlike-btn"></i>
            <% end %>
          <% end %>
          <%= post.favorite_users.count %>
          <i class="far fa-comment"></i>
        <p class="post-text">
          <%= post.description %>
        </p>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
      </div>
    </div>
  <% end %>
  </tbody>
</table>
 </div>
 </div>

<br>

<%= link_to 'New Post', new_post_path %>
